<br>
<div class="container border border-info d-flex flex-column justify-content-center">
    <div class="row d-flex justify-content-center border border-info">
        <div class="col-12"><br><br></div>
        <div class="col-3 flex-shrink-0">
            <img src="/og.png" 
            class="img-fluid border rounded-circle border-2 border-info"
            style="margin: 2rem; padding: 1rem; width: 16rem; height: 16rem;" alt="Nguyen Ngoc Quy">
        </div>
        <div class="col-7 align-self-center">
            <h1>NGUYỄN NGỌC QUÝ</h1>
            <hr class="border border-info">
            <h2>INTER POSITION</h2>
        </div>
        
        <div class="col-12 d-flex justify-content-center">
            <div class="col-4 border border-info" style="padding: 1rem;">
                <div>
                    <br>
                    <h3 class="text-info">PERSONAL INFORMATION</h3>
                    <hr class="border border-secondary">
                    <ul>
                        <li>Date Of Birth : 23/09/2000</li>
                        <li>Email : ngocquy.k171020@gmail.com</li>
                        <li>Phone No. </li>
                        <li>Address : </li>
                        <li>github : /NgNgocQuy</li>
                    </ul>
                </div>
                <div>
                    <br>
                    <h3 class="text-info">TECHINAL SKILLS
                        <hr class="border border-secondary">
                    </h3>
                    <ul>
                        <li>Programming Language
                            <ul><li>javaScript, HTML, CSS,</li></ul>
                        </li>
                        <li>Frameworks
                            <ul><li>Node Js, Express Js, Mongoose, Ejs, ...</li></ul>
                        </li>
                        <li>Libraries</li>
                        <li>Other tools</li>
                    </ul>
                </div>

            </div>
            <div class="col-6 border border-info" style="padding: 1rem;">
                <div>
                    <br>
                    <h3 class="text-info">MỤC TIÊU NGHỀ NGHIỆP</h3>
                    <hr class="border border-secondary">
                    <div class="d-flex justify-content-center">
                        <div class="col">
                            
                        </div>
                    </div>
                </div><div>
                    <br>
                    <h3 class="text-info">HỌC VẤN</h3>
                    <hr class="border border-secondary">
                    <div class="d-flex justify-content-center">
                        <div class="col-4"><h5>9/2018 - Hiện tại</h5></div>
                        <div class="col-1"><h5><li type="disc"></li></h5></div>
                        <div class="col-7">
                            <h5>Trường đại học Công Nghiệp TP.HCM</h5>
                            <p>Sinh viên năm 4 - khoa CNTT</p>
                            <p>Chuyên ngành : Công nghệ thông tin - IT</p>
                            <p>Dự kiến tốt nghiệp 1/2023</p>
                        </div>
                    </div>
                </div>
                <div>
                    <br>
                    <h3 class="text-info">KINH NGHIỆM LÀM VIỆC</h3>
                    <hr class="border border-secondary">
                    <div class="d-flex justify-content-center">
                        <div class="col">
                            <h5>Chưa có kinh nghiệm làm việc</h5><br>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="col-4"><h5>9/2018 - 12/2020</h5></div>
                        <div class="col-1"><h5><li type="disc"></li></h5></div>
                        <div class="col-7">
                            <h5>9/2017 - 12/2020</h5>
                            <p>IUH university</p>
                        </div>
                    </div>
                </div>
                <div>
                    <br>
                    <h3 class="text-info">HOẠT ĐỘNG & GIẢI THƯỞNG</h3>
                    <hr class="border border-secondary">
                    <div class="d-flex justify-content-center">
                        <div class="col-4"><h5>9/2017 - 12/2020</h5></div>
                        <div class="col-1"><h5><li type="disc"></li></h5></div>
                        <div class="col-7">
                            <h5>9/2017 - 12/2020</h5>
                            <p>IUH university</p>
                            
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-12"><br><br><br><br></div>
    </div>
    
</div>

